html{
    font-family: lato,sans-serif;
}
.header{
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}
.logo{
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.logo_image{
    margin-right: 20px;
}
.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
.navbar_item{
    margin-left: 50px;
   
    text-decoration: none;
}
.navbar_link{
    color: inherit;
    text-decoration: none;
}

.text_1{
    font-size: 22px;
    font-weight: bold;
}
.main{
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}
.entry{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.input_field{
    width: 100%;
    font-size: 18px;
}
.text_field{
    width: 442px;
    height: 72px;
    margin-top: 15px;
    border: none;
    background-color: #f3f6f6;
}
.button{
    margin-top: 15px;
   background-color: #3cd0ff;
   font-size: 18px;
   font-weight: bold;
   border-radius: 20px;
   border: none;
   padding: 5px 30px;
   cursor: pointer;
}
.button:hover{
    background-color: #18c1e1;
}
.footer{
    background-color: #323f43;
    padding:40px 0;
    margin-top: 40px;
    border-top: 2px solid black;
    color: white;
    font-size: 14px;
}
.footer_content{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.footer_right{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.footer_left{
    flex-grow: 2;
    display: flex;
    flex-direction: column;

}
.footer_column{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.footer_item{
    margin-bottom: 20px;
    color:inherit;
    text-decoration: none;
}
.entries{
    margin-top: 40px;
}
.entry_title{
    font-size: 18px;
    display: inline;
}
.entry_date{
    color: #5c6b70;
}